<%-include("top")-%>

<h1 style="color:white;font-family: 'Montserrat', sans-serif;text-align:center;margin:10px auto 10px auto">About</h1>

<div class="about">
  <p style="padding-right:10vw;padding-left:10vw;padding-top:20px;color:#EDEDED;font-size:25px;font-family: 'Montserrat', sans-serif;letter-spacing: 2px;">Drawing Comet is a platform where people can draw whatever they want and their drawings would be ranked.
Drawing Comet is a part of Comet.co which is founded by Dheeraj.This web app is still under construction.Hope u like it.

  </p>
    <img style="margin-left:auto;margin-right:auto;display: block;width:60%;height:auto;" src="sasuke.gif" alt="anime">
</div>
<p style="padding-right:10vw;padding-left:10vw;padding-top:20px;color:#EDEDED;font-size:25px;font-family: 'Montserrat', sans-serif;letter-spacing: 2px;">Who konws,you may one day get a job at an anime studio if you're really good</p>


<%-include("bottom")-%>
