<%-include("top")-%>
<hr>
<div class="front">

<div style="margin-right:auto;" class="row">
  <div class="col">
    <img class="frontimg" src="run.gif" alt="egg">
  </div>
  <div class="col">
    <h1 class="fronthead">Welocome to Drawing Comet</h1>
    <form method="get" action="/draw">
    <button class="butnfront" type="submit" name="button"><h1 style="font-size:5vh;font-family: 'Montserrat', sans-serif;">Draw</h1></button>
</form>
  </div>
</div>






</div>
<div class="secondfront">
  <img class="sfrontimg" src="man.gif" alt="man">
<h1 style="font-size:32px;text-align:center;color:#EDEDED;">How this works...?</h1>
<h5 style="margin-top:25px;text-align:center; color:#EDEDED;">Basically you draw on our drawpad and upload it onto our servers and your drawing will be ranked among the others...do it before you get too old for it...</h5>

</div>
<%-include("bottom")-%>
